body {
    background-color: #000000;
    color: #87CEFA;
    font-family: 'Silkscreen', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    image-rendering: pixelated;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.cloud-icon {
    width: 128px;
    height: auto;
    margin: 0 20px;
    image-rendering: pixelated;
    animation: hover 3s ease-in-out infinite alternate;
}

h1 {
    font-size: 6rem;
    text-shadow: 6px 6px 0px #1c5c96;
    letter-spacing: 0.1em;
}

h1 span {
    display: inline-block;
    opacity: 0;
    transition: all 0.2s ease;
    transform: translateY(20px);
}

h1 span.fade {
    opacity: 1;
    transform: translateY(0px);
}

@keyframes hover {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

.cloud-icon:last-child {
    animation-delay: -1.5s;
}

.flying-cloud {
    position: fixed;
    pointer-events: none;
    z-index: 1; 
    will-change: transform;
}

@keyframes flyRight {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(110vw);
    }
}

